*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 12px;
    font-weight: 700px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    background-color: #e3e6f3;
}

/* header */

.header{
    padding: 10px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    grid-area: header;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
    color: #088170;
}
.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088170;
    position: absolute;
    bottom: -1px;
    left: 20px;
}
.logo{
    color: #088170;
}

/* home */
.container-i {  
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content min-content auto;
    gap: 5px 5px;
    grid-template-areas:
      "hero img"
      "des-box des-box"
      "prod-des prod-des"
      "banner banner"
  }
  
  .hero {
      grid-area: 
      hero; }
  
  .img { 
      grid-area: img; 
      height: 90vh;
      width: 100%;
      padding: 0 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
  .destacadas { 
      grid-area: des-box; 
    }
  
  .prod-des { 
      grid-area: prod-des;
     }
  
  .banner {
       grid-area: banner; 
    }
  

.hero{
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #e3e6f3;
}
.auris{
    height: 300px;
}

.text-hero h4{
    padding-bottom: 15px;
}
.text-hero h1{
    color: #088170;
}
.text-hero button{
    background-image: url("../multimedia/button.png");
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.text-hero button a{
    text-decoration: none;
    color: #088170;
}

/* destacadas */

.destacadas{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.dest-box{
    width: 188px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
    margin: 15px 0;
    background-color: #f2f3f8;
    transition: 0.3s ease;
}

.dest-box:hover{
    transform: scale(1.1);
}

.dest-box img{
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
}

.dest-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088170;
    background-color: #ffebf0;
}

/* productos destacados */

.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    margin: 15px;
}

.product1{
    text-align: center;
}

.prod{
    width: 17%;
    height: 420px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}
.prod:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.prod-i{
    width: 18%;
    height: 350px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    background-color: #e3e6f3;
}
.prod-i img{
    width: 100%;
    max-height: 200px;
    border-radius: 20px;
}
.prod-i button{
    border: none;
    background-color: #e3e6f3;
}
.prod-i button:hover{
    transform: scale(1.1);
}

.cont-img{
    width: 100%;
    height: 200px;
    background-color: #ffff;
    border-radius: 5px;
}
.prod img{  
    width: 100%;
    max-height: 200px;
    border-radius: 20px;
}
.prod button{
    border: none;
    background-color: #e3e6f3;
}
.prod button:hover{
    transform: scale(1.1);
}
.des{
    text-align: start;
    padding: 10px 0;
}
.des p{
    margin: 0;
}
.des span{
   color: #686063;
   font-size: 12px;
}

.des h5{
    color: #1a1a1a;
    font-size: 14px;
}

.des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.des h4{
   padding-top: 2px;
   font-size: 15px;
   font-weight: 700;
   color: #088170;
}

.carro{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088170;
    margin-bottom: 5px;
}

/* banners */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../multimedia/tienda.jpg");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.banner1 button{
   width: 150px;
   height: 50px;
   border: none;
   text-decoration: none;
   background-color: #ffffff9a;
   border-radius: 8px;
   color: #088170;
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
   font-weight: 600;
   transition: 0.4s ease;
   margin-top: 150px;
}

.banner1 button a{
    text-decoration: none;
    color: #088170;
}
.banner1 button:hover{
   transform: scale(1.1);
}

/* footer */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffff;
    grid-area: footer;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088170;
    border-radius: 6px;
    height: 50px;
    width: 180px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
   color: #088170;
}

.copyright{
    width: 100%;
    text-align: center;

}


/* tienda */

.page-header{
    background-image: url("../multimedia/banner7.jpg");
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}
.page-header h2{
    color: #ffff;
}
.page-header p{
    color: #ffff;
}
.busqueda{
    border: #088170;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}
.btnBusqueda{
    border: none;
    background-color: transparent;
}

.btnBusqueda i{
    color: #ffff;
    margin-left: 8px;
    font-size: 17px;
    
}


/* about */

.page-about{
    background-image: url("../multimedia/about.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

.page-about h2{
    color: #ffff;
}
.page-about p{
    color: #ffff;

}
.about-head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-head img{
    height: 300px;
}
.about-head h2{
    color: #ffff;
    font-size: 25px;
    background-color: #465b5291;
    text-align: center;
    border-radius: 5px;
}
.about-headp{
    color: #686063;
}
.about-s2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.about-s2 img{
    height: 350px;
}
.about-s2 p{
    background-color: #465b5294;
    height: 150px;
    width: 450px;
    color: #ffff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

/* carrito */


#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4){
    width: 150px;
    text-align: center;
}

#cart table thead{
    border: 1px solid #c6c9d6;
    border-left: none;
    border-right: none;
    height: 30px;
    font-weight: 700;
    color: #088170;
}
#cart table thead th{
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
 padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart table .btn-add{
    border: none;
    color: #088170;
    background-color: #e3e6f3;
}

.vaciarCarrito{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.vaciarCarrito button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    width: 90px;
    background-color: #ffff;
    color: #465b52;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 11px;
}
.total-center{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 180px;
}
.total-center p{
    color: #088170;
    font-size: 15px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.493);

}
.total-compra{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.total-compra button{
    border: none;
    background-color: #088170;
    color: #ffff;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
}
.total-compra a{
    text-decoration: none;
    color: #ffff;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito-p{
    text-align: center;
    color: #465b52;
}

#finalizarCompra{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* queries */

@media screen and (max-width: 700px){
    .container-i {  
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content min-content auto;
        gap: 5px 5px;
        grid-template-areas:
          "hero"
          "img"
          "des-box"
          "prod-des"
          "banner";
      }

      
    .img{
        margin-top: 5px;
        height: 350px;
        margin-left: 40px;
    }
  
}